#all{
    border: 1px solid rgb(15, 3, 3);
    height: 500px;
    width: 500px;
}

#score{
    position: absolute;
    left: 700px;
    height: 500px;

}

.bu{
    position: absolute;
    left: 600px;
    top: 600px;
}